/* Fondo cósmico con resplandor central y estrellas */
body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Segoe UI", Verdana, sans-serif;
  background: radial-gradient(ellipse at 50% 50%, #7a64b7 0%, #070707 100%);
}
#starsCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* para que quede en fondo */
}

.space-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.glow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, #7a64b7 0%, #eb5694 40%, transparent 70%);
  opacity: 0.5;
  filter: blur(40px);
  z-index: 1;
}

/*modelo y transición */
model-viewer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: transform 2.5s ease-in-out;
  transform-origin: calc(50% + 20px) calc(50% - 10px);

}


model-viewer.zoom-in {
  transform: scale(9) translateY(10vh);
}

#pantallaHotspot {
  width: 300px; /* relativo al modelo */
  height: 200px;
  border: none;
  background: transparent;
  pointer-events: auto;
}
.transition {
    opacity: 0;
    transition: opacity 2s ease;
    /* otros estilos */
}

.transition.active {
    opacity: 1;
    pointer-events: auto;
}

